*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 25%;
}

nav .logo-container img {
  width: 200px;
}

nav ul {
  display: flex;
  gap: 5rem;
  margin-right: 30px;
}

nav li {
  list-style-type: none;
}

main {
  display: flex;
  align-items: center;
  height: 100vh; /* Mengatur agar konten berada di tengah secara vertikal */
  margin: auto 25%;
  gap: 30px;
}

main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .content button {
  background-color: #2d3e50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  padding: 10px 0px;
  border-radius: 100px;
}

main .logo-container img {
  width: 300px;
}

main aside {
  position: fixed;
  inset-inline-end: 0;
}

main aside .social-media {
  padding: 5px 0px;
  border-radius: 25px 0px 0px 25px;
  background-color: #2d3e50;
  justify-content: center;
}

main aside ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main aside li {
  padding-right: 5px;
  list-style-type: none;
}

main aside li a {
  font-size: 2rem;
  color: white;
}

@media screen {
}
